.optionContainer {
    width: 300px;
    max-width: 300px;
    min-width: 150px;
}

#stateList {
    display: none;
}

.stateListOptions {
    border: 1px solid black;
    margin-top: 0;
    padding: 0;
    background-color: lightgrey;
    max-height: 300px;
    width: calc(100% + 1rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

input[type="text"] {
    padding: 0.5rem;
    width: 100%;
}

.optionList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.optionList li {
    line-height: 1.8rem;
    width: 100%;
    padding: 0 1.3rem;
}

.optionList li:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}